@import "themes";

:root {
    //color
    --background-color: #2e3440;
    --title-color: #ff79c6;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;
    --status-green: #0f0;
    --status-red: red;
    --status-grey: grey;
    --status-orange: orange;
    --shadow: 0 4px 6px -1px #0000001a;
    --shadow-offset: 0 18px 10px 4px #0000001a;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //padding
    --default-padding-small: 2px;
    --default-padding-medium: 5px;
    --default-padding-large: 8px;
    --default-padding-xlarge: 10px;
    --default-padding-xxlarge: 1rem;

    --default-border-radius: .5rem;

    //font
    --default-font: sans-serif;

    //dialog
    --dialog-background-blur: 4px;
    --dialog-padding: 1.5rem;
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --animation-btn: .25s;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);
}

* {
    &:hover {
        scrollbar-color: color-mix(in oklch, currentColor 60%, #0000) #0000;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--default-font);
    margin: 0;
    padding: 1rem;

}

.clickable {
    cursor: pointer;
}

.logo {
    width: 5rem;
}

.border {
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: var(--default-border-radius);
}

.border-shadow {
    box-shadow: var(--shadow);

    &:hover {
        box-shadow: var(--shadow-offset);
    }
}

.rotate-180 {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
    transform: translate(0, 0) rotate(180deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.transition-transform {
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.transition-all {
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.accordion-icon-color {
    color: white;
}

.ease-in-out {
    transition: transform 0.5s cubic-bezier(.4, 0, .2, 1);
}

@keyframes pulse-animation {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: .7;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.pulse {
    animation: pulse-animation 1s infinite;
}

.status-color {
    &.running {
        background-color: var(--status-green);
    }

    &.error {
        background-color: var(--status-red);
    }

    &.stopped {
        background-color: var(--status-grey);
    }

    &.starting {
        background-color: var(--status-orange);
    }
}

//icon color for container

.container-upload-download-color {
    color: var(--upload-download-color);
}

.container-cpu-ram-color {
    color: var(--cpu-ram-color)
}

.button {
    display: flex;
    align-items: center;
    background-color: initial;
    border-color: currentColor;
    color: #fdf5f7;

    border-radius: .5rem;
    border-width: 1px;
    flex-wrap: wrap;
    font-size: .875rem;
    font-weight: 600;
    gap: .5rem;
    height: 3rem;
    min-width: 3rem;
    justify-content: center;
    text-align: center;

    @keyframes button-pop {
        0% {
            transform: scale(.98);
        }

        40% {
            transform: scale(1.02);
        }

        100% {
            transform: scale(1);
        }
    }
}