[data-theme="Light"] {
    --background-color: #2e3440;
    --title-color: #ff79c6;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}

[data-theme="Nord"] {
    --background-color: #2e3440;
    --title-color: #ff79c6;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}

[data-theme="Pastel"] {
    --background-color: #2e3440;
    --title-color: #ff79c6;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}

[data-theme="Business"] {
    --background-color: #2e3440;
    --title-color: #ff79c6;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}

[data-theme="Dracula"] {
    --background-color: #2e3440;
    --title-color: #ff79c6;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}

[data-theme="Sunset"] {
    --background-color: green;
    --title-color: blue;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}

[data-theme="Night"] {
    --background-color: #2e3440;
    --title-color: #ff79c6;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}

[data-theme="Forest"] {
    --background-color: #2e3440;
    --title-color: #ff79c6;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}

[data-theme="Amoled"] {
    --background-color: #2e3440;
    --title-color: #ff79c6;
    --text-color: white;
    --border-color: #1f202a;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #40e0d0;
    --cpu-ram-color: #ff7ac6;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}

[data-theme="Cyberpunk"] {
    --background-color: #002222;
    --title-color: #ffff00;
    --text-color: white;
    --border-color: #bd93f9;
    --accordion-text-color: var(--title-color);
    --accordion-sever-status-color: #bd93f9;

    --upload-download-color: #00ffff;
    --cpu-ram-color: #ff00ff;

    //dialog
    --dialog-button-background: var(--title-color);
    --dialog-button-color: #16050e;

    --github-logo-background: var(--title-color);
    --github-logo-hover-background: var(--accordion-sever-status-color);

    --dropdown-border: 1px solid var(--border-color);

    --dropdown-option-hover-background: #545f75;
}