.border {
    padding: 1.5rem;
}

.container {
    display: flex;
    align-items: center;

    .icon-container {
        padding-right: var(--default-padding-large);

        .icon {
            display: flex;
            justify-content: center;
            cursor: pointer;
        }
    }

    .text {
        flex: 1 1;
        color: var(--accordion-text-color);
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .server-status {
        color: var(--accordion-sever-status-color);
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: .5rem;
        text-align: right;
        align-items: center;
    }
}

.accordion-icon-down {
    display: flex;
    align-items: center;
    justify-content: center;
}