<div class="border">
    <div class="container">
        <div class="title" (click)="isAccordionOpen.set(!isAccordionOpen())">
            <div class="icon-container">
                <div class="transition-transform icon" [class.rotate-180]="!isAccordionOpen()">
                    <i class="fa-solid fa-arrow-down accordion-icon-color"></i>
                </div>
            </div>
            <div class="text">
                Fin-1 - {{containers().length}} Containers
            </div>
        </div>
        @if(serverStatus().cpuCores && serverStatus() !== undefined){
        <div class="server-status">
            <!-- <div class="status"> -->
            <span>
                Available Memory:
            </span>
            <div class="status-value">
                {{serverStatus().availableMemory}} GB
            </div>
            <!-- </div> -->
            <!-- <div class="status"> -->
            <span>
                CPU Cores:
            </span>
            <div class="status-value">
                {{serverStatus().cpuCores}}
            </div>
            <!-- </div> -->
            <!-- <div class="status"> -->
            <span>
                Memory Usage:
            </span>
            <div class="status-value">
                {{serverStatus().memoryUsage}} %
            </div>
            <!-- </div> -->
            <!-- <div class="status"> -->
            <span>
                CPU Usage:
            </span>
            <div class="status-value">
                {{serverStatus().memoryUsage}} %
            </div>
            <!-- </div> -->
        </div>
        }
    </div>
    <div [@accordionToggle]="isAccordionOpen() ? 'open' : 'closed'">
        <ng-content></ng-content>
        <div class="accordion-icon-down clickable" (click)="isAccordionOpen.set(!isAccordionOpen())">
            <i class="fa-solid fa-arrow-up accordion-icon-color"></i>
        </div>
    </div>
</div>