:root {
    --background-color: #F8F8F2;
    /* Light background similar to Dracula's light mode */
    --foreground-color: #282A36;
    /* Dark text color */
    --border-color: #E0E0E0;
    /* Light grey border */
    --status-green: #50FA7B;
    /* Dracula Green */
    --status-orange: #FFB86C;
    /* Dracula Orange */
    --status-red: #FF5555;
    /* Dracula Red */
    --status-grey: #6272A4;
    /* Dracula Grey */
    --network-light: #3f4354;
    /* Dracula Pink */
    --network-dark: #272b3b;
    /* Darker Pink */
    --dropdown-text-color: #282A36;
    /* Dark text color for dropdowns */
    --status-orb-size: 10px;
    /* Consistent size for orbs */
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.border {
    border: 1px solid var(--border-color);
}

.network-stats {
    color: var(--network-black);
}

.network-stats.pulse {
    animation: network-pulse 1s infinite;
}

.status-green {
    background-color: var(--status-green);
}

.status-orange {
    background-color: var(--status-orange);
}

.status-red {
    background-color: var(--status-red);
}

.status-grey {
    background-color: var(--status-grey);
}

@keyframes network-pulse {
    0% {
        color: var(--network-light);
    }

    50% {
        color: var(--network-dark);
    }

    100% {
        color: var(--network-light);
    }
}

/* Dropdown Styles */
select {
    color: var(--dropdown-text-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

/* Container Bubbles */
.status-orb {
    width: var(--status-orb-size);
    height: var(--status-orb-size);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    /* Position orb in the top-right corner */
    right: 8px;
}

/* Ensure container has relative positioning */
.container-bubble {
    position: relative;
}