:root {
    --background-color: #2E3440;
    /* Nord Dark Background */
    --foreground-color: #ECEFF4;
    /* Nord Light Text */
    --border-color: #3B4252;
    /* Nord Border */
    --status-green: #A3BE8C;
    /* Nord Green */
    --status-orange: #D08770;
    /* Nord Orange */
    --status-red: #BF616A;
    /* Nord Red */
    --status-grey: #4C566A;
    /* Nord Grey */
    --network-light: #81A1C1;
    /* Nord Turquoise */
    --network-dark: #5b84ae;
    /* Nord Darker Turquoise */
    --dropdown-text-color: #ECEFF4;
    /* Nord Dropdown Text Color */
    --status-orb-size: 10px;
    /* Consistent size for orbs */
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.border {
    border: 1px solid var(--border-color);
}

.network-stats {
    color: var(--network-light);
}

.network-stats.pulse {
    animation: network-pulse 1s infinite;
}

.status-green {
    background-color: var(--status-green);
}

.status-orange {
    background-color: var(--status-orange);
}

.status-red {
    background-color: var(--status-red);
}

.status-grey {
    background-color: var(--status-grey);
}

@keyframes network-pulse {
    0% {
        color: var(--network-light);
    }

    50% {
        color: var(--network-dark);
    }

    100% {
        color: var(--network-light);
    }
}

/* Dropdown Styles */
select {
    color: var(--dropdown-text-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

/* Container Bubbles */
.status-orb {
    width: var(--status-orb-size);
    height: var(--status-orb-size);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    /* Position orb in the top-right corner */
    right: 8px;
    /* Position orb in the top-right corner */
}

/* Ensure container has relative positioning */
.container-bubble {
    position: relative;
}

img {
    filter: invert(94%) sepia(11%) saturate(77%) hue-rotate(179deg) brightness(100%) contrast(94%);
}

.container-buttons {
    color: var(--network-dark)
}

.container-buttons:hover {
    color: var(--network-light);
}