.container {
    display: grid;
    gap: 1rem;

    .navbar {
        display: flex;
        align-items: center;

        .logo-title {
            display: flex;
            gap: var(--default-padding-medium);
            color: var(--title-color);
            flex: 1;

            .title {
                font-weight: 700;
                font-size: 1.875rem;
                line-height: 2.25rem;
            }
        }

        .buttons {
            display: flex;
            align-items: end;
            gap: var(--default-padding-xxlarge);

            .github-logo {
                display: inline-flex;
                align-items: center;
                width: 3rem;
                height: 3rem;
                font-size: 2.5rem;
                color: var(--title-color);

                &:hover {
                    color: var(--github-logo-hover-background);
                }
            }
        }
    }
}