<div class="container">
    <div class="navbar">
        <div class="logo-title">
            <img class="logo" src="../assets/pictures/logo.png" alt="dockstat logo" />
            <h1 class="title">{{title}}</h1>
        </div>
        <div class="buttons">
            <button class="button" (click)="settingDialogState().open = true">setting</button>
            <button class="button" (click)="codeDialogState().open = true">code</button>
            <a class="git-logo" href="https://github.com/its4nik/dockstat" target="_blank">
                github
            </a>
        </div>
    </div>
    <app-status-card />
</div>

<app-dialog [state]="codeDialogState()">
    <code>
        {{code}}
    </code>
</app-dialog>

<app-dialog [state]="settingDialogState()">
    <div class="container">
        <div class="title">
            Settings
        </div>
        <div class="settings">
            <div class="label">
                Select Theme
            </div>
            <select name="theme">
                @for(theme of themes; track $index){
                <option [value]="theme">
                    {{theme}}
                </option>
                }
            </select>
        </div>
    </div>
</app-dialog>