.container {
    backdrop-filter: blur(var(--dialog-background-blur));
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

    .dialog-title {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .dialog {
        display: grid;
        background-color: var(--background-color);
        padding: var(--dialog-padding);
        border-radius: var(--default-border-radius);
        gap: var(--dialog-padding);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        max-width: 75%;
        max-height: 80vh;
    }

    .content {
        max-height: 70vh;
        overflow: auto;
    }

    .close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }

    .buttons {
        display: flex;

        .button {
            background-color: var(--dialog-button-background);
            border: 0px;
            color: var(--dialog-button-color);
            font-size: .875rem;
            font-weight: 600;

            animation: button-pop var(--animation-btn, .25s) ease-out;

            transition-duration: .2s;
            transition-property: color, background-color, border-color, opacity, box-shadow, transform;
            transition-timing-function: cubic-bezier(0, 0, .2, 1);

            &.expanded {
                width: 100%;
            }

            &.right {
                justify-content: flex-end;
            }

            &.left {
                justify-content: flex-start;
            }

            &.center {
                justify-content: center;
            }

            &:hover {
                background-color: color-mix(in oklab, var(--dialog-button-background) 80%, #000);
            }
        }
    }
}