@if(state().open){
<div class="container">
    <div class="dialog">
        <div class="content">
            <ng-content />
        </div>

        @if(state().buttons.length){
        <div class="buttons">
            @for(button of state().buttons; track $index){
            <button class="button" [ngClass]="button.style" [class.expanded]="button.expanded"
                (click)="state().open = !state().open">{{button.name}}</button>
            }
        </div>
        }
    </div>
</div>
}